

  <script type='text/javascript' src="/script.js"></script>
  <script>
      function openForm() {
          document.getElementById("myForm").style.visibility= "visible";
        }

    function closeForm() {
        document.getElementById("myForm").style.visibility = "hidden";
    }

  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</body>
</html>
