<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
 <meta charset="utf-8">
 <title>UpLift</title>
 <link rel="stylesheet" type="text/css" href="/app.css">
 <link rel="stylesheet" href="/chatbox.css">
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css">
 <!-- BOOTSTRAP -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>


 <div class="ui inverted primary menu">
   <div class="ui container">


     <div class="left menu">
       <div class="ui secondary menu">
         <a class="item" href="/">
           <img class="ui small image" src="/uplift.png" style="width:65px; margin:0;padding:0;">
         </a>
         <a class="ui item pink label" href="/" style="left:-12px; font-size:0.7em;">BCIT</a>
       </div>
     </div>

     <div class="right menu">
       <div class="ui secondary menu">
         <% if(!currentUser){ %>
         <a class="ui item" href="/register">Signup</a>
         <a class="ui label pink item" href="/login">Login</a>
         <% } else { %>
         <a class="ui item" href="/contact">
           <i class="envelope icon" style="font-size:1.2em;"></i>Messages
         </a>
         <a class="ui item" href="#">
           <img class="ui right spaced avatar image" src="<%=currentUser.profilePicture%>">
           <%= currentUser.username %>
         </a>
         <a class="ui item" href="/logout">Logout</a>
         <% } %>
       </div>
     </div>

   </div>
 </div>
