<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>BCIT US</title>
  <link rel="stylesheet" type="text/css" href="/app.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css">
</head>


  <div class="ui primary menu">
    <div class="ui container">


      <div class="left menu">
        <div class="ui secondary menu">
          <a class="item" href="/">BCIT US</a>
        </div>
      </div>

      <div class="right menu">
        <div class="ui secondary menu">
          <% if(!currentUser){ %>
          <a class="ui item" href="/register">Signup</a>
          <a class="ui item" href="/login">Login</a>
          <% } else { %>
          <a class="ui item" href="/projects/new">
            <i class="inbox icon" style="font-size:1.2em;" id="edit"></i>Inbox
          </a>
          <a class="ui item" href="/profile/<%=currentUser._id%>">
            <%= currentUser.firstName %></a>
          <a class="ui item" href="/logout">Logout</a>
          <% } %>
        </div>
      </div>

    </div>
  </div>
