<% include ./partials/header %>

<div id="back">
  <a href="">Back</a>
</div>
<div id="content">
  <div class="ui card container">
    <p class="words bubble_right">Hi I'd like to talk to you</p>
    <p class="authorName">Anonymous</p>
    <p class="timestamp">3/1/2019</p>
  </div>
  <div class="msg">
    <p class="words bubble_left">Hello! Thanks so much for reaching out to me. I'm here to help. What can I do for you?</p>
    <p class="authorName">Health Counsellor</p>
    <p class="timestamp">3/1/2019</p>
  </div>
</div>
<form id="msg_input">
  <textarea id="submit_text"></textarea>
  <button id="enter_button">Enter</button>
</form>


<% include ./partials/footer %>
