<% include ./partials/header %>

<!-- Page Content -->
<div class="container page-content">

  <!-- Page Heading -->
  <h1 class="my-4">Contact Us
    <small></small>
  </h1>

  <!-- Project One -->
  <div class="row">
    <div class="col-md-7">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0 avatar" src="avatar1.png" style="width: 200px">
      </a>
    </div>
    <div class="col-md-5">
      <h3>Lauren Oleksewich</h3>
      <p>BCIT Student Association Health and Wellness Coordinator <br />
        Phone: 604-432-8549</p>
      <a class="btn btn-primary" href="mailto:wellness@bcitsa.ca">Email</a>
      <a class="btn btn-primary" href="/chat">Chat</a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Two -->
  <div class="row">

    <div class="col-md-7">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0 avatar" src="avatar4.png" style="width: 200px">
      </a>
    </div>
    <div class="col-md-5">
      <h3>Alayna Kruger</h3>
      <p>Counselling And Student Development Coordinator <br />
        Phone: 604-432-8608</p>
      <a class="btn btn-primary" href="mailto:exampleEmail@bcit.ca">Email</a>
      <a class="btn btn-primary" href="/chat">Chat</a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Three -->
  <div class="row">
    <div class="col-md-7">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0 avatar" src="avatar2.png" style="width: 200px">
      </a>
    </div>
    <div class="col-md-5">
      <h3>Health Services Coordinator</h3>
      <p>BCIT Student Health Services Coordinator<br />
        Phone: 604-432-8843</p>
      <a class="btn btn-primary" href="mailto:nurses@bcit.ca">Email</a>
      <a class="btn btn-primary" href="/chat">Chat</a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Four -->
  <div class="row">
    <div class="col-md-7">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0 avatar" src="avatar3.png" style="width: 200px">
      </a>
    </div>
    <div class="col-md-5">
      <h3>Accessibility Coordinator</h3>
      <p>BCIT Accessibility Service Coordinator <br />
        Phone: 604-451-6963</p>
      <a class="btn btn-primary" href="mailto:accessibility@bcit.ca">Email</a>
      <a class="btn btn-primary" href="/chatbox">Chat</a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

</div>

<% include ./partials/footer %>
