<% include ./partials/header %>

<ul>
  <li><a href="/login">Login</a></li>
  <li><a href="/register">Signup</a></li>
</ul>

<div id="back">
    <a href="">Back</a>
  </div>
  <div id="content">
    <div class="msg">
      <p class="words bubble_right">Hi there I'd like to talk to you</p>
      <p class="authorName">Anonymous</p>
      <p class="timestamp">29/12/18</p>
    </div>
    <div class="msg">
      <p class="words bubble_left">Hello Anonymous, thanks so much for reaching out to me. I'm here to help. What can I do for you?</p>
      <p class="authorName">Councillor</p>
      <p class="timestamp">29/12/18</p>
    </div>
  </div>
  <form id="msg_input">
    <textarea id="submit_text"></textarea>
    <button id="enter_button">Enter</button>
  </form>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript">
    $("#enter_button").click(function(event){
      event.preventDefault();
      var submission = $("#submit_text").val()
      if(!submission == "" || !("#submit_text").val() == "Text goes here") {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yy = today.getFullYear();
        var newItem = $("<div><p class='words bubble_right'>" + submission + "</p><p class='authorName'>" + "Anonymous" + "</p><p class='timestamp'>" + dd + "/" + mm + "/" +  yy + "</p></div>").addClass("msg");
        $("#content").append(newItem);
        $("#submit_text").val("");
      }
    });
  </script>

<% include ./partials/footer %>
