<% include ./partials/header %>

<!-- Page Heading -->
<h1 class="my-4" style="text-align: center;">Mental Health Forums
</h1>

<a href="/home/new">Create Category</a>

<div class="container">
  <div class="row">
    <% categories.forEach(function(category){ %>
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div style="position:relative;">
              <a><img class="card-img-top" src="<%=category.image%>"></a>
              <div class="card-body">
                  <h4 style="position: absolute; top: 70%; left: 1.7em" class="card-title">
                      <a href="/home/<%=category._id%>" style=" color: white; text-shadow: 2px 2px 5px black;;"><%=category.title%></a>
                  </h4>
                  <p><%=category.members%> members</p>
              </div>
          </div>
      </div>
    <% }) %>
  </div>
</div>

<% include ./partials/footer %>
