<div>
  <h2>Create New Category</h2>
  <form class="" action="/home" method="POST">
    <input type="text" name="category[title]" placeholder="Title">
    <input type="text" name="category[image]" placeholder="Image">
    <input type="submit" name="submit" value="submit">
  </form>
</div>
