<div>
  <h2>Create New Post for <%=category.title%></h2>
  <form class="" action="/home" method="POST">
    <input type="text" name="post[title]" placeholder="Title">
    <br/>
    <textarea name="post[body]" rows="8" cols="80" placeholder="Post Body"></textarea>
    <br/>
    <input type="submit" name="submit" value="submit">
  </form>
</div>
