<% include ./partials/header %>

<div class="ui main text container segment" style="margin:75px 0 0 0">
  <div class="ui form">
    <h1 class="ui header" style="text-align:left">
      New Post In <em><%=category.title%></em>
    </h1>
    <form class="ui form" action="/home/<%=category._id%>" method="POST">
      <div class="field">
        <input type="text" name="post[title]" placeholder="Title" min="5" max="25" required>
      </div>

      <div class="field">
        <input type="text" name="post[image]" placeholder="Image (optional)">
      </div>

      <!-- maxiumum entry of 250 character -->
      <div class="field">
        <textarea name="post[body]" placeholder="Share your experience"
          rows="5" style="resize: none; line-height: 150%;"></textarea>
      </div>

      <div class="ui checkbox">
        <input type="checkbox">
        <label>Post as <em>anonymous</em></label>
      </div>
      <br/>
      <br/>

      <button class="ui pink submit button">
        Share
      </button>
    </form>
    <br/>
    <div class="extra">
      <p style="font-size: 10pt;">Not ready to share? <a class="ui item" href="/home/<%=category._id%>">Back</a></p>
    </div>
  </div>
</div>

<% include ./partials/footer %>
