<h2><%=category.title%></h2>

<a href="/<%=category._id%>/new">Add Post</a>
<br/>
<a href="/">back</a>

<h3>Posts</h3>

<% category.posts.forEach(function(post){ %>
  <div style="border: 1px solid blue">
    <h4>
      <%=post.title%>
    </h4>
    <p><%=post.body%></p>
  </div>
<% }) %>
